@charset "UTF-8";

@media screen and (max-width: 852px) {
    
    body {
        background-color: brown;
    }

    .s1 {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .s1 img {
        width: 300px;
        height: 110px;
    }

    .s1 p {
        display: flex;
        flex-flow: row-reverse nowrap;
        margin-left: 12px;
    }
}