@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: hsl(0, 0%, 100%);
    --cor2: hsl(219, 95%, 58%);
    --cor3: ;
    --cor4: hsl(0, 98%, 48%);

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

html {
    font-family: var(--fonte-padrao);
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--cor2);
    color: var(--cor1);
}

header img {
    display: inline;
    width: 30%;
    max-width: 150px;
    padding-top: 15px;
    padding-left: 15px;
}

.desktop-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    gap: 20px;
    justify-content: end;
}

.nav-link {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}

main .h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 5px;

}

main .blog {
    background-color: var(--cor2);
    color: white;
    border-radius: 10px;
    margin: 20px 40px 20px 40px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.589);
}

main .blog-text {
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 10px 40px;
}

main .blog-banner-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 30px;
}

iframe {
    display: block;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
}

footer {
    background-color: var(--cor2);
    color: var(--cor1);
    padding-bottom: 5px;
}

footer img {
    display: inline;
    width: 30%;
    max-width: 150px;
    margin: auto;
}

footer .container {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

footer .wrapper {
    text-align: center;
}

.footer-text {
    margin-top: 18px;
}

.footer-title {
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-link {
    color: var(--cor1);
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 18px;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .copyright {
    text-align: center;
    font-size: 0.9em;
}

footer .copyright a {
    font-weight: bold;
}


/*
.teste {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
  width: 100vh;
}

.teste p {
  width: 100%;
}

.teste img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  padding-right: 30px;
  position: relative;
  top: 9px;
  left: 50px
}

*/